* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* body {
    height: 100vh;
    width: 100vw;
    display: block;
    padding: 10px;
}  */

.image-display {
    /* width: 50vw;
    height: 80vh;  */
    margin: 10vh 25vw;
    background-color: #f0f0f0;
    padding: 0px;
    border: 1px solid #fff;
}

.image-display img {
    width: 100%;
    height: 70%;
    object-fit: cover;
    border-radius: 0px;
}

.image-display button {
    width: 100%;
    height: 30px;
    background-image: linear-gradient(to right, #4CAF50, #8BC34A);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 0px;
    cursor: pointer;
}

.image-display button:hover {
    background-image: linear-gradient(to right, #3e8e41, #66c34a);
}